*{
    padding-right: 9px;
    padding-left: 18px;
}

.phh-text-output{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 18px;
    padding-top: 18px;
    padding-bottom: 50px;
    background: rgb(255, 255, 255, 0.7);
    background-image: url(image/bg-print.jpg);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 9px;
}

.code-php{
    border:1px solid #FF8C00;
    border-radius: 9px; 
    padding: 19px 20px 30px 20px;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
    background: rgb(255, 140, 0, 0.1);
    
}